@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
    .footer-about p {
      font-size: 0.8rem;
    }
    .use-links li {
      font-size: 0.8rem;
    }
    .social-icons a {
      margin-right: 0.3rem;
    }
  }
